.additionally {
  padding-top: 28px;
  padding-bottom: 35px;

  overflow: hidden;

  @media @tablet-width {
    padding-top: 35px;
    padding-bottom: 76px;
  }

  @media @desktop-width {
    padding-top: 40px;
    padding-bottom: 87px;
  }
}

.additionally__container {
  .container;
}

.additionally__title {
  margin-bottom: 34px;

  &::before {
    width: 286px;
  }

  &::after {
    top: 13px;
  }

  @media @tablet-width {
    margin-bottom: 80px;
    padding-left: 37px;

    &::before {
      left: -2px;

      width: 413px;
    }

    &::after {
      top: 22px;
    }
  }

  @media @desktop-width {
    padding-left: 0;

    &::before {
      left: -40px;
    }
  }
}

.additionally__list {
  .clear-list;

  margin-bottom: 39px;

  @media @tablet-width {
    margin-bottom: 70px;
  }

  @media @desktop-width {
    width: 73.4%;
    margin-bottom: 0;
  }
}

.additionally__item {
  padding-top: 14px;
  padding-bottom: 18px;
}

.additionally__content {
  @media @desktop-width {
    display: flex;
    justify-content: space-between;
  }
}
