.client {
  padding-top: 18px;
  padding-bottom: 34px;

  background-color: #f2f2f2;
}

.client__container {
  .container;
}

.client__title {
  margin-bottom: 22px;
}

.client__text {
  .clear-block;
  margin-top: 22px;
  margin-bottom: 25px;

  .font(14px, 18px, "Arial");
}

// .result__text {
//   .clear-block;

//   .font(12px, 12px, "Arial");
//   text-transform: lowercase;
//   color: @greyish-brown;

//   background-color: #f2f2f2;
// }

.client__price {
  .clear-block;
  margin-top: 14px;

  .font(14px, 20px);
  text-transform: uppercase;
  text-align: center;
  color: #111111;
}

.client__image {
  margin-top: 34px;
}
