.comment {
  padding-top: 8px;
  padding-bottom: 20px;

  @media @tablet-width {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  @media @desktop-width {
    padding-top: 30px;
  }
}

.comment__title {
  margin-bottom: 35px;

  &::before {
    width: 181px;
  }

  &::after {
    top: 14px;
  }

  @media @tablet-width {
    margin-bottom: 76px;

    &::before {
      width: 259px;
    }

    &::after {
      top: 22px;
    }
  }

  @media @desktop-width {
    // margin-bottom: 42px;

    &::before {
      width: 258px;
    }

    &::after {
      top: 21px;
    }
  }
}

.comment__content {
  width: 100%;
  min-height: 150px;
  padding: 13px;
  padding-left: 14px;

  text-transform: uppercase;

  border: 1px solid #cdcdcd;

  resize: none;

  &::placeholder {
    text-transform: uppercase;
    color: @greyish-brown;

    opacity: 1;
  }

  &:-ms-input-placeholder {
    text-transform: uppercase;
    color: @greyish-brown;
  }

  @media @tablet-width {
    min-height: 174px;
    padding-right: 19px;
    padding-left: 19px;
  }
}
