.comparison__slider {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.comparison__line {
  width: 84px;
}

.comparison__text {
  .clear-block;
  padding-right: 16px;
  padding-left: 20px;

  .font(16px, 20px);
  text-transform: uppercase;
  color: #111111;
}
