.contacts {
  padding-top: 28px;
  padding-bottom: 19px;

  @media @tablet-width {
    padding-top: 35px;
    padding-bottom: 35px;
  }

  @media @desktop-width {
    padding-top: 49px;
    padding-bottom: 35px;
  }
}

.contacts__title {
  margin-bottom: 32px;

  &::before {
    width: 240px;
  }

  &::after {
    top: 14px;
  }

  @media @tablet-width {
    margin-bottom: 76px;

    &::before {
      width: 593px;
    }

    &::after {
      top: 22px;
    }
  }

  @media @desktop-width {
    // margin-bottom: 1px;

    &::before {
      width: 592px;
    }

    &::after {
      top: 22px;
    }
  }
}

.contacts__inputs {
  .clear-list;

  @media @desktop-width {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.contacts__inputs-box {
  position: relative;

  display: flex;
  align-items: center;
  margin-bottom: 13px;

  &:last-of-type {
    margin-bottom: 0;
  }

  @media @tablet-width {
    margin-bottom: 17px;

    &:first-of-type {
      padding-left: 2px;
    }

    &:last-of-type .contacts__input {
      margin-left: 15px;
    }
  }

  @media @desktop-width {
    width: 46.77%;
    margin-bottom: 0;
  }
}

.contacts__input {
  flex-grow: 1;
  .clear-block;
  margin-left: 10px;
  padding: 15px;
  padding-top: 12px;
  padding-bottom: 13px;

  text-transform: uppercase;

  border: 1px solid #ebebeb;

  &::placeholder {
    text-transform: uppercase;
    color: @greyish-brown;

    opacity: 1;
  }

  &:-ms-input-placeholder {
    text-transform: uppercase;
    color: @greyish-brown;
  }

  &:hover {
    border-color: #cdcdcd;
  }

  &:focus {
    padding: 14px;
    padding-top: 11px;
    padding-bottom: 12px;

    border: 2px solid #444444;

    outline: none;
  }

  &:focus + .contacts__icon {
    fill: @leaf;
  }

  &:invalid {
    border: 2px solid #ff8282;
  }

  &:invalid + .contacts__icon {
    fill: #ff8282;
  }

  @media @tablet-width {
    margin-left: 19px;
    padding: 19px;
    padding-top: 13px;
    padding-bottom: 14px;

    &:focus {
      padding: 18px;
      padding-top: 12px;
      padding-bottom: 13px;
    }
  }

  @media @desktop-width {
    padding-top: 14px;
  }
}

.contacts__icon {
  position: absolute;

  &--mail {
    top: 15px;
    right: 15px;

    .size(18px, 14px);
  }

  &--phone {
    top: 12px;
    right: 12px;

    .size(21px, 21px);
  }

  @media @tablet-width {
    &--mail {
      top: 19px;
      right: 18px;
    }

    &--phone {
      top: 17px;
      right: 16px;
    }
  }

  @media @desktop-width {
    &--mail {
      top: 20px;
      right: 19px;
    }

    &--phone {
      top: 17px;
      right: 18px;
    }
  }
}
