.contacts__title {
  .clear-block;
  margin-bottom: 34px;

  font-weight: 400;
  .font(24px, 24px);
  text-transform: initial;
  color: #111111;
}

.contacts__inputs {
  .clear-list;
}

.contacts__inputs-box {
  display: flex;
  align-items: center;
  margin-bottom: 14px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.contacts__input {
  .form__input;
  margin-left: 10px;
}
