.products {
  padding-top: 15px;

  @media @tablet-width {
    padding-top: 42px;
    padding-bottom: 32px;
  }

  @media @desktop-width {
    padding-top: 60px;
    padding-bottom: 36px;
  }
}

.products__container {
  .container;
}

.products__title {
  margin-bottom: 29px;

  @media @tablet-width {
    margin-bottom: 165px;
  }
}

.products__list {
  .clear-list;

  @media @tablet-width {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.products__item {
  position: relative;

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: -20px;

    width: calc(100% + 40px);
    height: 1px;

    background-color: #ededed;
  }

  @media @tablet-width {
    &::before {
      display: none;
    }
  }
}

.products .products__item:last-of-type {
  &::after {
    content: "";

    position: absolute;
    bottom: 0;
    left: -20px;

    width: calc(100% + 40px);
    height: 1px;

    background-color: #ededed;
  }

  @media @tablet-width {
    &::after {
      display: none;
    }
  }
}
