.program__title {
  .clear-block;
  padding-top: 9px;
  padding-left: 70px;

  font-weight: 400;
  .font(24px, 37px);
  text-transform: uppercase;
  color: #111111;
}

.program__text {
  .clear-block;
  margin-top: 29px;

  .font(14px, 18px, "Arial");
}

.program__link {
  display: block;
  margin-top: 42px;

  .font(16px, 16px);
  text-transform: uppercase;
  color: #111111;
}
