.programs {
  padding-top: 20px;
}

.programs__list {
  .clear-list;
}

.programs__container {
  .container;
}

.programs__item {
  margin-bottom: 20px;
  padding: 21px;

  background-color: #f2f2f2;
}
