.social {
  position: relative;

  display: flex;
  justify-content: space-between;
  width: 135px;
  .clear-list;

  &::before,
  &::after {
    content: "";

    position: absolute;
    left: -73px;

    .size(280px, 1px);

    background-color: #e6e6e6;
  }

  &::before {
    top: -23px;
  }

  &::after {
    bottom: -41px;
  }

  @media @tablet-width {
    min-height: 30px;

    &::before,
    &::after {
      display: none;
    }
  }
}

.social__icon {
  position: absolute;

  fill: @brownish-grey;

  &:hover {
    fill: @leaf;
  }

  &:active {
    opacity: 0.3;
  }

  &--vk {
    top: 4px;
    left: 0;

    .size(22px, 12px);

    @media @tablet-width {
      top: 5px;
      left: 15px;

      .size(30px, 16px);
    }
  }

  &--inst {
    top: 2px;
    left: 58px;

    .size(17px, 17px);

    @media @tablet-width {
      top: 2px;
      left: 73px;

      .size(23px, 23px);
    }
  }

  &--fb {
    top: 0;
    right: 10px;

    .size(10px, 19px);

    @media @tablet-width {
      top: -1px;
      right: -4px;

      .size(14px, 28px);
    }
  }
}
