.social__icon {
  position: absolute;

  fill: @brownish-grey;

  &--vk {
    top: 4px;
    left: 0;

    .size(22px, 12px);
  }

  &--inst {
    top: 2px;
    left: 58px;

    .size(17px, 17px);
  }

  &--fb {
    top: 0;
    right: 10px;

    .size(10px, 19px);
  }
}
