html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  font-family: "Oswaldregular", "Arial", sans-serif;
  color: @greyish-brown;

  background-color: #ffffff;
}

a {
  color: #ffffff;

  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;

  .font(16px, 20px);
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;

  background-color: @leaf;
}

.section-title {
  .clear-block;

  font-weight: 400;
  .font(36px, 60px);
  color: #111111;

  @media @tablet-width {
    .font(60px, 60px);
  }
}

.subtitle {
  .clear-block;

  font-weight: 400;
  .font(24px, 24px);
  text-transform: initial;
  color: #111111;

  @media @tablet-width {
    .font(36px, 36px);
  }
}
