.font(@font-size, @line-height, @font: @main-font) {
  font-size: @font-size;
  line-height: @line-height;
  font-family: @font, "Arial", sans-serif;
}

.size(@width, @height) {
  width: @width;
  height: @height;
}

.clear-block {
  margin: 0;
  padding: 0;
}

.clear-list {
  margin: 0;
  padding: 0;

  list-style: none;
}
